<table class="table table-striped">
    <thead>
        <tr>
            <th>DepartmentId</th>
            <th>Department name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of DepartmentList">
            <td>{{dataItem.DepartmentId}}</td>
            <td>{{dataItem.DepartmentName}}</td>
            <td>
                <button type="button" class="btn btn-light mr-l">Edit</button>
                <button type="button" class="btn btn-light mr-l">Delete</button>
            </td>
        </tr>
    </tbody>
</table>